In [1]:
# iterate using for loop
l = [10,20,30,40,50]

for item in l:
    print(item)

10
20
30
40
50

In [5]:
l = [10,20,True,30,"Hi", 40,5.6, False,50, "python", 20.123]
for item in l:
    if type(item) is int:
        item += 100
        print(item)
    else:
        print(item)

110
120
True
130
Hi
140
5.6
False
150
python
20.123

In [6]:
# changing iterable elements while iterating(for loop) will not affect the original object
# iteration might be taking each element value not the reference
l = [10,20,True,30,"Hi", 40,5.6, False,50, "python", 20.123]
print('original list:', l)
for item in l:
    if type(item) is int:
        item += 100
        print(item)
    else:
        print(item)

print('after change in iteration list:', l)

original list: [10, 20, True, 30, 'Hi', 40, 5.6, False, 50, 'python', 20.123]
110
120
True
130
Hi
140
5.6
False
150
python
20.123
after change in iteration list: [10, 20, True, 30, 'Hi', 40, 5.6, False, 50, 'python', 20.123]

In [3]:
t = (100,200,True,30,"welcome", False,50, "python", 200.123)
for item in t:
    if type(item) is int:
        item += 100
        print(item)
    else:
        print(item)

200
300
True
130
welcome
False
150
python
200.123

In [4]:
s = {1000,2000,True,300,"welcome", False,500, "python", 2000.123}

for item in s:
    if type(item) is int:
        item += 1000
        print(item)
    else:
        print(item)

welcome
True
False
2000
1300
3000
2000.123
1500
python

In [7]:
d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}

for item in d:
    print(item)

name
age
city
designation

In [8]:
for item in d.values():
    print(item)

naveen
29
Hyderabad
IT eng

In [9]:
for item in d.keys():
    print(item)

name
age
city
designation

In [10]:
for key, value in d.items():
    print(key, value)

name naveen
age 29
city Hyderabad
designation IT eng

In [12]:
keys = d.keys()
values = d.values()
items = d.items()
print('dict:', d)
print('keys:', keys)
print('values:', values)
print('items:', items)

dict: {'name': 'naveen', 'age': 29, 'city': 'Hyderabad', 'designation': 'IT eng'}
keys: dict_keys(['name', 'age', 'city', 'designation'])
values: dict_values(['naveen', 29, 'Hyderabad', 'IT eng'])
items: dict_items([('name', 'naveen'), ('age', 29), ('city', 'Hyderabad'), ('designation', 'IT eng')])

In [13]:
s = "Raj Cloud Tech"
for chr in s:
    print(chr)

R
a
j

C
l
o
u
d

T
e
c
h

In [18]:
l = [10,20,True,30,"Hi", 40,5.6, False,50, "python", 20.123]
t = (100,200,True,30,"welcome", False,50, "python", 200.123, 25.25, 400)
s = {1000,2000,True,300,"welcome", 500, "python"}
d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}
str = "Raj Cloud Tech"

print('lenth of list', len(l))
print('lenth of tuple', len(t))
print('lenth of set', len(s))
print('lenth of dict', len(d))
print('lenth of string', len(str))

lenth of list 11
lenth of tuple 11
lenth of set 7
lenth of dict 4
lenth of string 14

In [20]:
# set takes unique values, exclude duplicates
# 1 & True are same
# 0 & False are same
s = {1, 1000,2000,True,300,"welcome",False, 10, 500, "python", 0}
print('length:', len(s))
print(s)

length: 9
{'welcome', 1, False, 1000, 10, 300, 2000, 500, 'python'}

In [23]:
l = [10,20,True,30,"Hi", 40,5.6, False,50, "python", 20.123]
t = (100,200,True,30,"welcome", False,50, "python", 200.123, 25.25, 400)
s = {1000,2000,True,300,"welcome", 500, "python"}
d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}
str = "Raj Cloud Tech"

print('min & max of list', min(l), max(l))
print('min & max of tuple', min(t), max(t))
print('min & max of set', min(s), max(s))
print('min & max of dict', min(d), max(d))
print('min & max of string', min(str), max(str))

TypeError: '<' not supported between instances of 'str' and 'bool'

In [27]:
l = [10,20,30,40,5.6, 50, 20.123]
t = (100,200,30,50, 200.123, 25.25, 400)
s = {"hi", "hello", "welcome", "python", "raj cloud"}
d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}
str = "RajCloudTech"

print('min & max of list', min(l), max(l))
print('min & max of tuple', min(t), max(t))
print('min & max of set', min(s), max(s))
print('min & max of dict', min(d), max(d))
print('min & max of string', min(str), max(str))

min & max of list 5.6 50
min & max of tuple 25.25 400
min & max of set hello welcome
min & max of dict age name
min & max of string C u

In [29]:
t1 = (True, False)
print('min & max of tuple', min(t1), max(t1))

min & max of tuple False True

In [31]:
l = [10,20,30,40,5.6, 50, 20.123]
t = (100,200,30,50, 200.123, 25.25, 400)
s = {"hi", "hello", "welcome", "python", "raj cloud"}
d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}
str = "RajCloudTech"

print('min & max of list', min(l), max(l), sum(l))
print('min & max of tuple', min(t), max(t), sum(t))
print('min & max of set', min(s), max(s), sum(s))
print('min & max of dict', min(d), max(d), sum(d))
print('min & max of string', min(str), max(str), sum(str))

min & max of list 5.6 50 175.72299999999998
min & max of tuple 25.25 400 1005.373

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
l = [10,20,30,40,5.6, 50, 20.123]
t = (100,200,30,50, 200.123, 25.25, 400)
# s = {"hi", "hello", "welcome", "python", "raj cloud"}
# d = {'name':'naveen', 'age':29, 'city':'Hyderabad', 'designation':'IT eng'}
# str = "RajCloudTech"

print('min & max of list', min(l), max(l), sum(l))
print('min & max of tuple', min(t), max(t), sum(t))
# print('min & max of set', min(s), max(s), sum(s))
# print('min & max of dict', min(d), max(d), sum(d))
# print('min & max of string', min(str), max(str), sum(str))

min & max of list 5.6 50 175.72299999999998
min & max of tuple 25.25 400 1005.373

In [38]:
print(min(10,20,30,40,5.6, 50, 20.123))
print(max(10,20,30,40,5.6, 50, 20.123))

5.6
50

In [39]:
l = [10,20,30,40,5.6, 50, 20.123]
print(sum(l))
print(sum(l, start= 10000))

175.72299999999998
10175.723

In [44]:
# even all & any also can be applied for all collections str,list,tuple,set,dict
l = [10,20,30,40,5.6, 50, 20.123]
t = (100,200,30,50, 200.123, 25.25, 400)
s = {"hi","welcome","python"}

print('all & any of list', all(l), any(l))
print('all & any of tuple', all(t), any(t))
print('all & any of tuple', all(s), any(s))

all & any of list True True
all & any of tuple True True
all & any of tuple True True

In [42]:
# non 0 value treated as True
# 0 & None treated as False
l = [10,20,30,40,5.6, 50, 20.123, 0]
t = (100,200,30,50, 200.123, 25.25, 400, None)
s = {"hi","welcome",False}

print('all & any of list', all(l), any(l))
print('all & any of tuple', all(t), any(t))
print('all & any of tuple', all(s), any(s))

all & any of list False True
all & any of tuple False True
all & any of tuple False True

In [56]:
# enumarate() method returns enumate obj when its applied iterable objects
l = [10,20,30.45,40.56,50,60]
enum_obj = enumerate(l)
print(enum_obj)

<enumerate object at 0x00000262E7492250>

In [57]:
# enum_obj returns each elements index & value as a tuple from given collection/iterable object 
# list is a iterable collection here
for item in enum_obj:
    print(item)

(0, 10)
(1, 20)
(2, 30.45)
(3, 40.56)
(4, 50)
(5, 60)

In [61]:
l = [10,20,30.45,40.56,50,60]
enum_obj = enumerate(l)
print(l)

for item in enum_obj:
    print(item)

[10, 20, 30.45, 40.56, 50, 60]
(0, 10)
(1, 20)
(2, 30.45)
(3, 40.56)
(4, 50)
(5, 60)

In [62]:
# enum_obj traverse through each element reference, when iterable collection
# finishes the elements, enum_obj cannot proceed further or does not point to given 
# list (here, but can be any collection) any more as iteration finished
for item in enum_obj:
    print(item)

In [66]:
l = [10,20,30]
enum_obj = enumerate(l)
print('identifier of list', id(l))
print('identifier of enum_obj', id(enum_obj))
print(l)
print('item 1:', next(enum_obj))
print('item 2:', next(enum_obj))
print('item 2:', next(enum_obj))
print('item 4:', next(enum_obj))

print('after enumeration identifier of enum_obj', id(enum_obj))

identifier of list 2623796805760
identifier of enum_obj 2623810379728
[10, 20, 30]
item 1: (0, 10)
item 2: (1, 20)
item 2: (2, 30)

StopIteration:

In [68]:
s = {"hi","welcome",False}
enum_obj = enumerate(l)
print(enum_obj)

<enumerate object at 0x00000262E7492F20>

In [69]:
for item in enum_obj:
    print(item)

(0, 10)
(1, 20)
(2, 30)

In [70]:
s = {"hi","welcome",False}
print(s)
enum_obj = enumerate(l)
l = []
for item in enum_obj:
    print(item)
    l.append(item)

print(l)

{'welcome', 'hi', False}
(0, 10)
(1, 20)
(2, 30)
[(0, 10), (1, 20), (2, 30)]